<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Input Number</ion-label> 
          <ion-input type="Number" [(ngModel)] ="first"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">input Number</ion-label> 
      <ion-input type="Number" [(ngModel)] ="second"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Result: <span class="result" [innerHTML]="result"></span></ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>

    <ion-row>

      <ion-col>
        <ion-button ion-button full (click)="addition()">+</ion-button>
      </ion-col>

      <ion-col>
        <ion-button  ion-button full (click)="subraction()">-</ion-button>
      </ion-col>

      <ion-col>
        <ion-button  ion-button full (click)="multiplied()">x</ion-button>
      </ion-col>

      <ion-col>
        <ion-button  ion-button full (click)="division()">/</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
